<!--
  Generated template for the StaticColorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <navbar></navbar>
</ion-header>


<ion-content padding>
  <bluetooth></bluetooth>
  <div *ngIf="this.bluetooth.connected">
    <color-picker picker_id="static-color-picker" (onChange)="setColor($event[0], $event[1])"></color-picker>
    <ion-list style="padding-top: 1rem;">
        <ion-item>
            <ion-label>Fade</ion-label>
            <ion-toggle (ionChange)="toggleFade()" mode="ios" [(ngModel)]="this.isFade"></ion-toggle>
        </ion-item>
        <div *ngIf="this.isFade">
          <ion-list-header mode="ios">
              fade speed
              <ion-badge item-end>{{this.lamp.fade_speed}} ms</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range debounce="50" (ionChange)="fade()" mode="ios" min="1" max="100" [(ngModel)]="this.fade_speed">
              <ion-icon range-left name="speedometer"></ion-icon>
              <ion-icon small range-right name="speedometer"></ion-icon>
            </ion-range>
          </ion-item>
        </div>
      <button [disabled]="!this.activated" (click)="resume()" style="margin-top: 1rem;" ion-button full>RESUME</button>
    </ion-list>
  </div>
</ion-content>
