<!-- Generated template for the NavbarComponent component -->
<ion-navbar>
  <ion-title>{{title}}</ion-title>
  <ion-buttons end>
    <button [disabled]="!this.bluetooth.connected" ion-button color="{{this.off ? 'light' : 'dark'}}" clear icon-only (click)="power()">
      <ion-icon name="sunny"></ion-icon>
    </button>
    <button [disabled]="!this.bluetooth.connected" ion-button color="{{this.bluetooth.connected ? 'danger' : 'dark'}}" clear icon-only (click)="disconnect()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
