<!-- Generated template for the BluetoothComponent component -->
<div *ngIf="!this.bluetooth.connected">
  <ion-list padding>
    <button ion-button block (click)="this.bluetooth.startScanning()">scan</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of this.bluetooth.unpairedDevices'>
      <span (click)="this.bluetooth.selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="this.bluetooth.gettingDevices"></ion-spinner>
  </ion-list>
</div>
