<ion-tabs>
    <ion-tab [root]="staticColorRoot" tabTitle="Color" tabIcon="color-palette"></ion-tab>
    <ion-tab [root]="sparkleRoot" tabTitle="Sparkle" tabIcon="color-wand"></ion-tab>
    <ion-tab [root]="musicVuRoot" tabTitle="Music VU" tabIcon="musical-notes"></ion-tab>
</ion-tabs>
