<!--
  Generated template for the SparklePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <navbar></navbar>
</ion-header>


<ion-content padding>
  <bluetooth></bluetooth>
  <div *ngIf="this.bluetooth.connected">
    <color-picker picker_id="sparkle-color-picker" (onChange)="setColor($event[0], $event[1])"></color-picker>
    <ion-list style="padding-top: 1rem;">
      <ion-list-header mode="ios">
          number of sparkles
          <ion-badge item-end>{{this.lamp.num_sparkles}}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range debounce="50" (ionChange)="activateSparkle()" mode="ios" min="1" max="30" snaps="true" [(ngModel)]="this.num_sparkles">
          <ion-label range-left>1</ion-label>
          <ion-label range-right>30</ion-label>
        </ion-range>
      </ion-item>
      <ion-list-header mode="ios">
          sparkle speed
          <ion-badge item-end>{{this.lamp.sparkle_speed}} ms</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range debounce="50" (ionChange)="activateSparkle()" mode="ios" min="1" max="1000" [(ngModel)]="this.sparkle_speed">
          <ion-icon range-left name="speedometer"></ion-icon>
          <ion-icon small range-right name="speedometer"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-list-header mode="ios">
          Brightness Difference
          <ion-badge item-end>{{this.lamp.sparkle_brightness_diff}} %</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range debounce="50" (ionChange)="activateSparkle()" mode="ios" min="0" max="100" step="5" [(ngModel)]="this.sparkle_brightness_diff">
          <ion-icon small range-left name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <button [disabled]="!this.activated" (click)="resume()" style="margin-top: 1rem;" ion-button full>RESUME</button>
    </ion-list>
  </div>
</ion-content>
