<!--
  Generated template for the MusicVuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <navbar></navbar>
</ion-header>


<ion-content padding>
  <bluetooth></bluetooth>
  <div *ngIf="this.bluetooth.connected">
    <ion-list>
        <ion-item>
            <ion-label>Aux input</ion-label>
            <ion-toggle (ionChange)="sendCommand()" mode="ios" [(ngModel)]="this.isAux"></ion-toggle>
        </ion-item>
    </ion-list>
    <color-picker picker_id="vu-color-picker" (onChange)="setColor($event[0], $event[1])"></color-picker>
    <ion-list style="padding-top: 1rem;">
        <ion-item>
          <ion-label>Mode</ion-label>
          <ion-select (ionChange)="sendCommand()" [(ngModel)]="this.mode">
            <ion-option value='0'>Running Color Schema</ion-option>
            <ion-option value='1'>Static Color</ion-option>
            <ion-option value='2'>Static Color Schema</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="this.mode==0">
          <ion-list-header mode="ios">
              Animation speed
              <ion-badge item-end>{{this.lamp.vu_speed}} ms</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range debounce="50" (ionChange)="sendCommand()" mode="ios" min="1" max="1000" [(ngModel)]="this.vu_speed">
              <ion-icon range-left name="speedometer"></ion-icon>
              <ion-icon small range-right name="speedometer"></ion-icon>
            </ion-range>
          </ion-item>
        </div>
        <div *ngIf="!this.isAux">
          <ion-list-header mode="ios">
            Mic Sensitivity
            <ion-badge item-end>{{this.lamp.mic_sensitivity}}</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range debounce="50" (ionChange)="micSensitivity()" mode="ios" min="0" max="102" [(ngModel)]="this.mic_sensitivity">
              <ion-icon small range-left name="mic"></ion-icon>
              <ion-icon range-right name="mic"></ion-icon>
            </ion-range>
          </ion-item>
          <ion-list-header mode="ios">
            Mic Bandwidth
            <ion-badge item-end>{{this.lamp.mic_bandwidth}}</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range debounce="50" (ionChange)="micSensitivity()" mode="ios" min="0" max="102" [(ngModel)]="this.mic_bandwidth">
              <ion-icon small range-left name="code-working"></ion-icon>
              <ion-icon range-right name="code-working"></ion-icon>
            </ion-range>
          </ion-item>
        </div>
        <div *ngIf="this.isAux">
          <ion-list-header mode="ios">
            Aux Sensitivity
            <ion-badge item-end>{{this.lamp.aux_sensitivity}}</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range debounce="50" (ionChange)="auxSensitivity()" mode="ios" min="0" max="500" [(ngModel)]="this.aux_sensitivity">
              <ion-icon small range-left name="mic"></ion-icon>
              <ion-icon range-right name="mic"></ion-icon>
            </ion-range>
          </ion-item>
        </div>
        <ion-list-header mode="ios">
          Animation delay
          <ion-badge item-end>{{this.lamp.vu_delay}} ms</ion-badge>
        </ion-list-header>
        <ion-item>
          <ion-range debounce="50" (ionChange)="vuDelay()" mode="ios" min="0" max="100" [(ngModel)]="this.vu_delay">
            <ion-icon small range-left name="timer"></ion-icon>
            <ion-icon range-right name="timer"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-list-header mode="ios">
          Segment size
          <ion-badge item-end>{{this.lamp.segment_size}}</ion-badge>
        </ion-list-header>
        <ion-item>
          <ion-range debounce="50" snaps="true" (ionChange)="segmentSize()" mode="ios" min="1" max="60" [(ngModel)]="this.segment_size">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>60</ion-label>
          </ion-range>
        </ion-item>
        <button [disabled]="!this.activated" (click)="resume()" style="margin-top: 1rem;" ion-button full>RESUME</button>
    </ion-list>
  </div>
</ion-content>
